header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;

}
/* style of buttons */
button{
display: flex;
flex-direction: column;
width: 12rem;
margin: 2px;
height: 5rem;
background-color: blueviolet;
margin-left: 40%;
}

h1,
h2
{
    text-align: center;
}
/* erases none present questions */
#First-question {
display: none;
}
#Second-question {
    display: none;
}
#Third-question {
    display: none;
}
#End-screen {
    display: none;
}
#right {
    display: none;
}
#incorrect {
    display: none;
}
#score-screen {
    display: none;
}
